@model Mail

<div class="row align-items-center gy-3 gx-0 mb-10">
    <div class="col-auto">
        <img class="me-2 rounded-circle" src="@Url.Content(ViewBag.ProfileImage)" alt="..." width="48" height="48" />
    </div>
    <div class="col-auto flex-1">
        <div class="d-flex mb-1">
            <h5 class="mb-0 text-body-highlight me-2">@Model.MailName @Model.MailSurname</h5>
            <p class="mb-0 lh-sm text-body-tertiary fs-9 d-none d-md-block text-nowrap">&#60; @Model.SenderMail &#62;</p>
        </div>
        <p class="mb-0 fs-9">
            <span class="text-body-tertiary">den</span>
            <span class="fw-bold text-body-secondary"> Bana </span>
            <span class="text-body-highlight fw-semibold fs-10">@Model.MailDate </span>
        </p>
    </div>
</div>
<div class="text-body-highlight fs-9 w-100 w-md-75 mb-8">
    <p>@Model.MailContent</p>
</div>
<div class="d-flex justify-content-between">
    <button class="btn btn-phoenix-secondary me-1 text-nowrap px-2 px-sm-4 reply-btn"
            data-id="@Model.MailID">
        Yanıtla<span class="fa-solid fa-reply ms-2 fs-10"></span>
    </button>
</div>

<script>
    $(document).ready(function () {
        $(".reply-btn").on("click", function () {
            var mailId = $(this).data("id");
            window.location.href = "/AdminMail/MailReply?id=" + mailId;
        });
    });
</script>
