@model EntityLayer.Concrete.Mail
@{
    ViewData["Title"] = "Yeni Mail Gönder";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<h3>Yeni Mail Gönder</h3>

<form asp-action="SendReply" method="post">
    <div class="mb-3">
        <label for="to" class="form-label">Kime</label>
        <select class="form-select" id="to" name="ReceiverMail" required>
            <option value="">Seçiniz...</option>
            @foreach (var writer in ViewBag.Writers)
            {
                <option value="@writer.WriterMail"
                        data-writer-name="@writer.WriterName"
                        data-writer-surname="@writer.WriterSurname">
                    @writer.WriterMail
                </option>
            }
        </select>
    </div>
   @*  <div class="mb-3">
        <label for="name" class="form-label">Adınız</label>
        <input type="hidden" class="form-control" id="name" name="MailName" value="@ViewBag.CurrentWriterName" required />
    </div>
    <div class="mb-3">
        <label for="surname" class="form-label">Soyadınız</label>
        <input type="hidden" class="form-control" id="surname" name="MailSurname" value="@ViewBag.CurrentWriterSurname" required />
    </div> *@
    <input type="hidden" name="MailName" value="@ViewBag.CurrentWriterName" />
    <input type="hidden" name="MailSurname" value="@ViewBag.CurrentWriterSurname" />
    <div class="mb-3">
        <label for="subject" class="form-label">Konu</label>
        <input type="text" class="form-control" id="subject" name="MailTitle" required />
    </div>
    <div class="mb-3">
        <label for="message" class="form-label">Mesaj</label>
        <textarea class="form-control" id="message" name="MailContent" rows="5" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Gönder</button>
</form>
