@model IEnumerable<Mail>
@{
    ViewData["Title"] = "Mesaj Listesi";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<h2>Mesaj Listesi</h2>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Kime</th>
            <th>Kimden</th>
            <th>Konu</th>
            <th>Tarih</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mail in Model)
        {
            <tr>
                <td>@mail.MailID</td>
                <td>@mail.ReceiverMail</td>
                <td>@mail.SenderMail</td>
                <td>@mail.MailTitle</td>
                <td>@mail.MailDate.ToString("dd/MM/yyyy HH:mm")</td>
                <td>
                    <a asp-action="GetMailDetail" asp-route-id="@mail.MailID" class="btn btn-info">Detay</a>
                </td>
            </tr>
        }
    </tbody>
</table>
