@model Blog
@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<section class="page_title ds s-parallax s-overlay s-py-65">
    <div class="s-blur"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center text-sm-left">
                <h1>@Model.BlogTitle</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">Ana Sayfa</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Bloglar</a>
                    </li>
                    <li class="breadcrumb-item active">
                        @Model.BlogTitle
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="ls no-sidebar s-py-xl-150 s-py-lg-130 s-py-md-90 s-py-60 c-gutter-60">
    <div class="container">
        <div class="row">
            <main class="offset-lg-2 col-lg-8">
                <article class="vertical-item single-post post type-post status-publish format-standard has-post-thumbnail">
                    <!-- .post-thumbnail -->
                    <div class="item-media post-thumbnail">
                        <img src="@Model.BlogImage" alt="">
                    </div>

                    <div class="item-content">
                        <header class="entry-header">
                            <div class="entry-meta">
                                <div class="byline">
                                    <div class="date">
                                        <i class="far fa-clock"></i>
                                        <a href="blog-single-left.html" rel="bookmark">
                                            <time class="entry-date published updated" datetime="2018-03-18T15:15:12+00:00">
                                                @Model.BlogDate.ToShortDateString()
                                            </time>
                                        </a>
                                    </div>

                                    <span class="entry-meta-divider">|</span>
                                    <div class="author vcard">
                                        <i class="far fa-user"></i>
                                        @if (Model.Writer != null)
                                        {
                                            <a class="url color-main2 fn n" href="blog-left.html">
                                                @Model.Writer.WriterName @Model.Writer.WriterSurname
                                            </a>
                                        }
                                        else
                                        {
                                            <span>Yorum yapmak için giriş yapmalısın</span>
                                        }
                                    </div>

                                    <span class="entry-meta-divider">|</span>
                                    <div class="views-count">
                                        <i class="far fa-eye"></i>
                                        <span>5 235</span>
                                    </div>
                                </div>
                            </div>
                            <!-- .entry-meta -->
                        </header>
                        <!-- .entry-header -->

                        <div class="entry-content">
                            <p>
                                @Model.BlogContent
                            </p>

                            <blockquote>
                                <p>
                                    <em class="big">
                                        @ViewBag.DailyQuote
                                    </em>
                                </p>
                                <footer>
                                    <p>@DateTime.Now.ToShortDateString() </p>
                                    <span class="divider">|</span>
                                    <p>Günün Sözü</p>
                                </footer>
                            </blockquote>
                        </div>
                        <!-- .entry-content -->
                    </div>
                    <!-- .item-content -->
                </article>

                <div id="comments" class="comments-area">
                    @* Yorum listesini Component veya Partial olarak çağırmaya devam edebilirsiniz *@
                    @await Component.InvokeAsync("BlogCommentList", new { id = Model.BlogID })
                    <!-- .comment-list -->

                    <div id="respond" class="comment-respond ls">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form asp-controller="Blog" asp-action="AddComment" method="post" id="commentform" class="comment-form" novalidate="">
                                <!-- Gizli alan: Yorum yapılacak blogun ID'si -->
                                <input type="hidden" name="BlogID" value="@Model.BlogID" />
                                <p class="comment-form-title form-group has-placeholder">
                                    <label for="title">Konu <span class="required">*</span></label>
                                    <input class="form-control" id="title" name="title" placeholder="Başlık" type="text" required="required">
                                </p>

                                <p class="comment-form-author form-group has-placeholder">
                                    <label for="author1213">
                                        Name
                                        <span class="required">*</span>
                                    </label>
                                    <input class="form-control" id="author1213" placeholder="Name" name="author" type="text"
                                           value="@ViewBag.CurrentWriterName" size="30" maxlength="245" aria-required="true" required="required">
                                </p>
                                <p class="comment-form-email form-group has-placeholder">
                                    <label for="email234">
                                        Email <span class="required">*</span>
                                    </label>
                                    <input class="form-control" id="email234" name="email" placeholder="Email" type="email"
                                           value="@ViewBag.CurrentWriterMail" size="30" maxlength="100" aria-required="true" required="required">
                                </p>
                                <p class="comment-form-comment form-group has-placeholder">
                                    <label for="comment234">Comment</label>
                                    <textarea id="comment234" name="comment" class="form-control" placeholder="Yorumunuz" cols="45" rows="4" maxlength="65525" aria-required="true" required="required"></textarea>
                                </p>
                                <p class="form-submit form-group mt-10">
                                    <input name="submit" type="submit" class="submit btn btn-outline-maincolor" value="Gönder">
                                </p>
                            </form>
                        }
                        else
                        {
                            <p>
                                Yorum yapmak için lütfen <a href="@Url.Action("SignIN", "Login")">giriş yapın</a>.
                            </p>
                        }
                    </div>

                    <!-- #respond -->
                </div>

            </main>
        </div>
    </div>
</section>

<link href="~/canabicom/dynamic5/resimblogdetail.css" rel="stylesheet" />
